.container-block {
    width: 1160px;
    margin:0 auto;
}
.left-block {
    width:760px;
    margin-right: 40px;
}
.right-block {
    display: inline-block;
    width:360px;
    vertical-align: top;
}
.text-image {
    position: absolute;
    top:50px;
    left:150px;
}
.image-wraper {
    position: relative;
}

/* footer styles */
.footer-bg {
    background-color: #A6ADB4;
    padding-top: 56px;
    padding-bottom: 60px;
}
/* .block1,
.block2,
.block3,
.block4,
.block5,
.block6 {
    display: inline-block;
    vertical-align: top;
} */
.d-inline-block {
    display: inline-block;
    vertical-align: top;
}


/* center position properties */
.wraper {
    width:400px;
    height: 400px;
    background-color: yellow;
    position: relative;

    /* transition-property: all;
    transition-duration: .4s;
    transition-timing-function: linear;
    transition-delay: 2s; */
    transition: all 0.4s linear 2s;
}
.child-wraper {
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition:all 2s;
}
.hello {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


/* hover effects */
.wraper:hover {
    background-color: blue; 
}
.child-wraper:hover {
    width:300px;
    background-color: darkgoldenrod;
    transform: translate(-50%, -50%) rotate(0deg);
}

/* .wraper:hover .child-wraper {
    width:300px;
    background-color: darkgoldenrod;
} */

.text {
    color: red;
    opacity: 0.7;
}
/* car animation */
.image-car {
    height: 150px;
    animation: caranimation3 5s ease-in-out infinite alternate 4s;
    /* position: absolute; */
}
.car-block {
    /* position: relative; */
    height: 200px;
}

@keyframes caranimation {
    from {left:0;}
    to {left: 80%;}
}

@keyframes caranimation2 {
   0% {left:0}
   20% {left: 30%;}
   70% {left:60%;}
   100% {left: 80%;}
}

@keyframes caranimation3 {
    0% {transform: translateX(0) rotate(0deg);}
    20% {transform: translateX(200px) rotate(360deg);}
    70% {transform: translateX(600px) rotate(0deg);}
    100% {transform: translateX(800px) rotate(360deg);}
 }
 




 /* flex */
 .left-wraper {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .right-wraper {
    width: 200px;
    height: 200px;
    background-color: red;
 }
 .center-wraper {
    width: 200px;
    height: 200px;
    background-color: yellow;
 }
 .flex-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }


 /* flex practice */
 .container {
    width:1170px;
    margin:0 auto;
    background-color: lightblue;
 }
 .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .block {
    width: 371px;
    height: 374px;
    background-color: gray;
 }
 .flex-wraper1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .flex-wraper2 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
 }
 .blue-box {
    width:88px;
    height: 88px;
    background-color: #325DFF;
    border-radius: 50%;
 }
 .gamaertianebeli-block {
    width:251px;
    background-color: yellow;
    flex-direction: column;
    text-align: center;
 }
 .marginBottom {
    margin-bottom: 25px;
 }
 .tekstebis-blocki {
    width: 771px;
    margin:0 auto;
    background-color: aquamarine;
    text-align: center;
 }